html, body {
  font-family: "游明朝体","YuMincho";
  text-align: center;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

h1{
  font-weight: normal;
}

p{
  line-height: 3;
}
#header {
  left:10%;
  width:90%;
  margin: auto;
  display:flex;
}

#menu ul {
  position: relative;
  display: flex;
  top:35%;
    list-style-type: none;
    margin:0;
    padding: 0,5;
    overflow: hidden;
}



#menu li a {

   font-family: "HiraginoSans-W1","ヒラギノ角ゴシック W0";
   display: block;
   color: black;
   text-align: center;

   padding: 0 16px;
   text-decoration: none;
}

#menu li a:hover {
    border-bottom: solid 2px rgb(150,150,150);
}



#map{
  width:100%;
  min-height: 250px;
  height: 500px;

}

#theam ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap; /* 折り返し */
  margin:0;
  padding:0;
  list-style: none;
  top: 0;
  text-align: center;
}

#theam ul li{
  width:22%;
  margin:1.5%;
}
#theam ul li dl {
  left:5%;
  top: 5%;
  width:90%;
  height: 90%;
  margin:0;
}
#theam img{
  position:relative;
  width:100%;
  margin: 0;
}
#theam ul {
letter-spacing: -1em;
overflow: hidden;
display: inline-block;
}
#theam ul li {
display: inline-block;
position: relative;
overflow: hidden;
margin: 0 5px;
letter-spacing: 0;
}
#theam ul dl {
position: absolute;
top: 0;
margin: 0;
padding: 20px 25px;
box-sizing: border-box;
color: #fff;
background: url("./img/theamover-8.png");
background-repeat: no-repeat;
background-size: 100% 100%;
}
#theam ul dl dt {
  font-size: 20pt;
  text-align: center;
  padding: 30% 0;
  /*margin-bottom: 0.3em;*/
}
#theam ul dl dd {
  text-decoration: none;
  margin: 0;
  line-height: 1.6;
  text-align: justify;
  word-break: break-all;
  position: absolute;
  right:10%;
  bottom:5%;

}

#theam ul dl dd a{
  text-decoration: none;
  font-size: 10pt;
  color:#ffffff;

}

#theam ul dl dd:last-of-type {
  margin-top: 10px;
  text-align: right;
}
/* type1 */
.downup dl {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, transform 0.6s;
}
.downup:hover dl {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


.blue{
  background: url("./img/backdesign.png");
  background-repeat: no-repeat;
    background-size: 100% 100%;
}
 /*.blue img{
   position: relative;
   margin:0;
   padding:0;
   width:100%;
  vertical-align:bottom;
 }*/


 .blueContant {
   position: relative;
   padding-top: 10%;
   padding-bottom: 10%;
   margin: 0;
   /*background-color: #eef7fc;*/
 }

#departureContant {
  padding:5%;
  margin: auto;
  background-color: #efefef;
}
#departure h2{
  font-style: normal;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 31pt;
}
#departure h3{
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  font-size: 16pt;
}

#departureContant table {
  margin: auto;
}

#departureContant table th{
  font-size: 21pt;
  padding:26px;
}
#departureContant table td{
  font-size: 16pt;
  text-align: left;
  padding:10px;
}
#departureContant table td a{
  text-decoration: none;
  color: black;
}

.slide img{
  object-fit: cover;
  width:1600px;
  height:500px;
  overflow: hidden;
}
.slideshow {
    background-color:rgb(255,255,255);
    height: 600px;
    min-width: 100vw;
    position: relative;
}

.slideshow-slides {
    height: 80%;
    position: absolute;
    width: 100%;
    /* left は JavaScript で指定 */
}
.slideshow-slides .slide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    /* left は JavaScript で指定 */
}
.slideshow-slides .slide img {
    left: 50%;
    margin-left: -800px;
    position: absolute;
}

.slideshow-nav a,
.slideshow-indicator a {
    background-color: rgba(0, 0, 0, 0); /* for IE9 */
    overflow: hidden;
}
.slideshow-nav a:before{
    content: url(./img/sprites.png);
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.slideshow-indicator a:before {

    content: url(./img/button-8.png);
    display: inline-block;
    text-indent: 0px;
    font-size: 0;
    line-height: 0;
}

.slideshow-nav a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 72px;
    margin-top: -36px;
}
.slideshow-nav a.prev {
    margin-left: -480px;
}
.slideshow-nav a.prev:before {
    margin-top: -20px;
}
.slideshow-nav a.next {
    margin-left: 408px;
}
.slideshow-nav a.next:before {
    margin-left: -80px;
    margin-top: -20px;
}
.slideshow-nav a.disabled {
    display: none;
}

.slideshow-indicator {
    bottom: -10%;
    height: 20%;

    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.slideshow-indicator a {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin-left: 3px;
    margin-right: 3px;
}
.slideshow-indicator a.active {
    cursor: default;
}
.slideshow-indicator a:before {
  text-indent: 0px;

    /*margin-left: -110px;*/
}
.slideshow-indicator a.active:before {

    content: url(./img/minibus-8.png);
}
