html, body {
text-align: center;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0,5;
    overflow: hidden;
    background-color: #333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0,5;
    overflow: hidden;

}
 li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111;
}
#map{
  width:100%;
  min-height: 250px;
  height: 500px;

}
 .blue img{
   width:100%;
 }

 .blue {
   background-color: #eef7fc;
 }
