html, body {
  font-family: "游明朝体","YuMincho";
text-align: center;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

h1{
  font-weight: normal;
}

p{
  line-height: 3;
}
#header {
  left:10%;
  width:90%;
  margin: auto;
  display:flex;
}

#menu ul {
  position: relative;
  display: flex;
  top:35%;
    list-style-type: none;
    margin:0;
    padding: 0,5;
    overflow: hidden;
}



#menu li a {

   font-family: "HiraginoSans-W1","ヒラギノ角ゴシック W0";
   display: block;
   color: black;
   text-align: center;

   padding: 0 16px;
   text-decoration: none;
}

#menu li a:hover {
    border-bottom: solid 3px #eef7fc;
}



#slide img{
  margin:auto;
  padding: 0;
  width:100vw;
  height:70vh;
  object-fit: cover;
  overflow: hidden;
}

#map{
  width:100%;
  min-height: 250px;
  height: 500px;

}


#theam ul {
position: relative;
  display: flex;
  list-style: none;
  flex-wrap: wrap; /* 折り返し */
  margin:5%;
  padding:0;

}
#theam li{
  width:22%;
  margin:1.5%
}

#theam li a {
  text-align: center;
  text-decoration: none;
}


 .blue img{
   position: relative;
   margin-bottom:-2%;
   padding:0;
   width:100%;
 }

 .blueContant {
   position: relative;
   padding-top: 10%;
   padding-bottom: 10%;
   margin: 0;
   background-color: #eef7fc;
 }

#departureContant {
  padding:5%;
  margin: auto;
  background-color: #efefef;
}
#departure h2{
  font-style: normal;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 31pt;
}
#departure h3{
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  font-size: 16pt;
}

#departureContant table {
  margin: auto;
}

#departureContant table th{
  font-size: 21pt;
  padding:26px;
}
#departureContant table td{
  font-size: 16pt;
  text-align: left;
  padding:10px;
}
#departureContant table td a{
text-decoration: none;
color: black;
}
