//各路線ページのcss

html, body {
    font-family: "游明朝体","YuMincho";
    height: 100%;
    margin: auto;
    font-family: Meiryo;
}

p{
  text-align:center;
}

p.mozi1 { font-size: 280%; }

p.mozi2 { font-size: 200%; }

.maru {
    border-radius: 20px;
}

img{
  object-fit: cover;
  overflow: hidden;
}

h1{
  font-weight: normal;
}

#header {
  left:10%;
  width:90%;
  margin: auto;
  display:flex;
}

#menu ul {
  position: relative;
  display: flex;
  top:35%;
    list-style-type: none;
    margin:0;
    padding: 0,5;
    overflow: hidden;
}

#menu li a {

   font-family: "HiraginoSans-W1","ヒラギノ角ゴシック W0";
   display: block;
   color: black;
   text-align: center;

   padding: 0 16px;
   text-decoration: none;
}

#menu li a:hover {
    border-bottom: solid 3px #eef7fc;
}

#map {
    height: 500px;
    width: 90%;
    top: 10px;
    margin: auto;
}

#map_hizikata,#map_furusato,#map_satou,#map_hinozyuku,#map_inoue{
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 20px
}

#map_asahi,#map_canan,#map_satoyama,#map_minmin,#map_kattyan{
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 20px
}

#map_hirayamapark,#map_keiou,#map_nanao,#map_tama{
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 20px
}

#map_asakawa,#map_hieda,#map_hinolibrary,#map_horinouti,#map_fureai,#map_renga{
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 20px
}

#map_jizouson,#map_jutoku,#map_kumano,#map_wakamiya,#map_zenseiji{
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 20px
}

#map_inouebakery,#map_cafededango,#map_pakupakukumokumadou,#map_artigianogelateria{
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 20px
}

#map_tokotoko,#map_hijikatanouenn,#map_mogusaenn,#map_nukumoriichi{
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 20px
}



#backdesign{
    background-image: url("img/design/backdesign.png");
    background-size: 100% 100%;
}

.tab,.tab2,.tab3,.tab4,.tab5,.tab6{
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  overflow:hidden;
}
.tab li,.tab2 li,.tab3 li,.tab4 li,.tab5 li,.tab6 li{
  float: left;
  list-style:none;
  background:#248;
  padding:5px 25px;
  color: white;
  border-radius: 20px;
}
.tab li.select,.tab2 li.select2,.tab3 li.select3,.tab4 li.select4,.tab5 li.select5,.tab6.select6{
  float: left;
  list-style:none;
  background:#248;
}
.content li,.content2 li,.content3 li,.content4 li,.content5 li,.content6 li{
  list-style:none;
  background:white;
  margin:auto auto;
  width : 400px;
  height : 300px;
  border-radius: 20px;
  border:1px dotted #248;
}
.hide {
  margin:auto;
  display:none;
}
